.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    background-color: #adccad;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: darkcyan;
}

.description {

}