.mainBlock {
    min-height: 70vh;
    background-image: url("../common/images/img_contacts.jpg"), linear-gradient(54deg, rgba(74, 76, 179, .95) 34%, hsla(0, 34%, 71%, .95));
    background-blend-mode: multiply;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    color: #fff;
    font-size: 19px;
}

.titleContainer {
    display: flex;
    justify-content: center
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
}

.contacts {
    justify-content: space-around;
    flex-wrap: wrap;
}

.link {
    margin-top: 40px;
}

.mainBlock a {
    text-decoration: none;
    color: white;
}

.blockConnect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    color: #fff;
    opacity: .4;
    width: 100%;
    text-align: center;
    height: 65px;
}