.fon {
    background-color: #f3f3f3;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}