.whiteBlock {
    min-height: 50vh;
    background-color: white;
}

.infoDescription {
    border-left: 2px solid #6d56c1;
    padding: 25px;
    margin-bottom: 50px;
}

.downloadButton {
    background-color: #6d56c1;
    height: 20px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
}