.resumeBlock {
    min-height: 80vh;
    /*background-color: #dae2f3;*/
}

.infoDescription {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    margin-bottom: 50px;
    width: 1300px;
    /*background-color: chocolate;*/
}