.fon {
    background-color: #f3f3f3;
}

.resumeBlock {
    min-height: 80vh;
}

.infoDescription {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    margin-bottom: 50px;
    width: 1300px;
}

.infoDescription h2 {
    color: #6d56c1;
}
