.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 85%;
    margin: 0 auto;

    /*border: 1px solid;*/
    /*background-color: #765fbb;*/
}

.title {
    /*background-color: #cafcc5;*/
}