.text {
    height: 50vh;
    background-color: #f1f5f8;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #a9ded1;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
}

.field {
    width: 280px;
    margin: 4px;
    /*border: 3px solid lightseagreen;*/
}

.form[type="text"] {
    display: block;
    width: 280px;
    height: 30px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /*border: 3px solid lightseagreen;*/
    border-radius: 4px;
}

.formError[type="text"] {
    display: block;
    width: 280px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px solid red;
    border-radius: 4px;
}

.button {
    background-color: #6d56c1;
    height: 50px;
    width: 280px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
    margin-top: 10px;
}

.span {
    display: flex;
    justify-content: center;
    height: 20px;
}

.spanError {
    color: red;
}

