.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    background-color: #f3f3f3;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /*background-color: #dcaf90;*/
    margin-top: 30px;
}