.skillsBlock {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #efefef;
}

.skillsContainer {
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

.title {
    /*background-color: #f6a7a7;*/
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*border: 3px solid;*/
    width: 100%;
}