.hiBlock {
    min-height: 40vh;
    /*background-color: #e0c0c0;*/
}

.infoDescription {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    margin-bottom: 50px;
    width: 1300px;
    /*background-color: chocolate;*/
}

.downloadButton {
    background-color: #6d56c1;
    height: 45px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    width: 170px;
    text-align: center;
    display: flex;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
}