.mainBlock {
    height: 100vh;
    background-image: linear-gradient(to right, #f1d8f8, #4e29be);
    font-size: 20px;
    color: white;
}

.description {
    width: 650px;
    /*border: 1px solid;*/
    /*background-color: #a3eee6;*/
}
.surname {
    color: #d3c460
}

.aboutMeFooterText {
    font-family: 'Yatra One', cursive;
    margin: 5px 0 23px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.personalInfo {
    margin: 10px;
}

/*.photo {*/
/*    widht: 315px;*/
/*    height: 380px;*/
/*    background-color: #51a97b;*/
/*}*/

.mainBlock img {
    width: 330px;
    height: 430px;
    border-radius: 5px;
    margin-top: 90px;
}

.linksMedia {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.whiteBlock {
    height: 50vh;
    background-color: white;
}

.infoDescription {
    /*width: 1200px;*/
    margin: 60px;
}

.downloadButton {
    background-color: #6d56c1;
    height: 20px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
}