.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin: 20px;
}

.link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 12px;
}